<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html">
 
<h:head>
<title>My First JSF Application</title>
</h:head>
<h:body>
        <h3>JSF 2.2 Hello World Example</h3>
    <h:form>
        <h:outputLabel>Login</h:outputLabel>
		<h:inputText value="#{loginBean.username}" />
		<br></br>
		<h:outputLabel>Password</h:outputLabel>
		<h:inputSecret value="#{loginBean.password}" />
		<br></br>
		<h:commandButton value="Submit" action="home"></h:commandButton>
    </h:form>
</h:body>
</html>