<?xml version="1.0" encoding="UTF-8"?>
<faces-config
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-facesconfig_2_2.xsd"
    version="2.2">
	<application>
      <resource-bundle>
        <base-name>Login form</base-name>
        <var>labels</var>
       </resource-bundle>
     </application>
 
     <navigation-rule>
     	<from-view-id>/login.xhtml</from-view-id>
    	
    	<navigation-case>
        	<from-action>#{authResultBean.authenticate}</from-action>
        	<from-outcome>success</from-outcome>
        	<to-view-id>/home.xhtml</to-view-id>
        	<redirect></redirect>
    	</navigation-case>
     </navigation-rule>
 
</faces-config>